body {
  box-sizing: border-box;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.each-comment {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile {
  background-color: #f59e0b;
  width: 31px;
  height: 31px;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.name-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name-time-container {
  display: flex;
  flex-direction: row;
}

.name1 {
}

.comment1 {
}

.like-delete-sec {
  width: ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.like-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.like-img {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

.like-text {
}

.delete-sec {
}
